 #create{
        height:auto;
        width:50%;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        padding:4%;
        margin: auto;
        margin-top:-40px;
        line-height: 1px;
        
    }
    #create>h5{
        font-size: 28px;
        font-weight: bold;
        text-align: center;
        padding: 25px 0 0 0;
    }
    h4{
        font-size: 20px;
        font-weight: bold;

    }
    span{
        color: #2b619e;
    }
            form {
        margin: 0 auto;
        margin-top:10px;
        width: 70%;
        padding: 5px;
        }
        label {
        font-size: 20px;
        color: rgb(131, 130, 130);
        }
            input[type="text"],
            select,
            textarea {
            width: 100%;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
            border: none;
            }
            input[type="password"],
            select,
            textarea {
            width: 100%;
            padding:20px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-bottom: 16px;
            resize: vertical;
            border: none;
            }
            button {
            background-color: rgb(121, 117, 117);
            color: rgb(11, 11, 11);
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            /* width: 100%; */
            border-radius: 10px;
            opacity: 0.9;
            }

            button:hover {
            opacity:1;
            }

        #si{
            text-align: center;
            color: black;
        }
        #h7{
            margin-top: 110px;
            height:100px;
            width:95%;
            background-color:white;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        }
        #h7>h2{
            font-size: 40px;
            line-height: 30px;
            margin-left: 9%;
            font-weight: 400;
            color: rgb(60, 64, 67);
            font-family: Google Sans", Arial, sans-serif;
        }
        h2+p{
          
           font-size:22px;
           font-weight: 400;
           margin-left: 9%;
           color: rgb(179, 170, 170);
         color: rgb(95, 99, 104);
          font-family: Google Sans", Arial, sans-serif;

        }
        #p{
            width:110%;
            font-size: 20px;
            line-height: 20px;
            color: rgb(189, 184, 184);
        }
        #flex{
            display: flex;
            justify-content: space-evenly;
        }
    
        /* for googlw */
#go{
    height:auto;
    display:flex;
    justify-content:space-evenly;
    width:40%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#go>div>img{
    width:80%;
  padding-top: 10px ;
 
}
h5{
    font-size: 16px;
    color:rgb(179, 174, 174)
}
/* h4/ */
h1{
    font-size: 40px;
    color: rgb(182, 182, 182);
}
h3{
    font-size:25px;
}

/* nav */

#nav {
            display: flex;
            float: left;
            justify-content: space-between;
            width: 97%;
            padding: 10px;
            color: #FFFFFF;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            background-color: #FFFFFF;
            position: fixed;
            top: 0;

        }
        
        #nav1 {
            width: 59%;
            display: flex;
            justify-content: space-between;
            gap: 50px;
            /* border: 1px solid red; */

        }

        #nav2 {
            width: 40%;
            text-align: end;
        }

        #a {
            margin: 30px;
            margin-left: 20px;
            font-size: 16px;
            text-decoration: none;
        }
        #a:hover {
            background-color: black;
            color: white;
        }

        img {
            width: 220px;
        }

        .dropbtn {
            /* border: 1px solid black; */
            background-color: #FFFFFF;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }
        .dropdown {
            /* border: 1px solid red; */
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            /* padding: 12px 16px; */
            text-decoration: none;
            display: block;
        }
        .dropdown-content a:hover {
            background-color: #f1f1f1
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: #3e8e41;
        }

        .a1 {
            text-decoration: none;
            margin-top: 20px;
        }

        /* .a1:hover {
            background-color: black;
            color: #FFFFFF;
            border-radius: 100%;
        } */
        #btn:hover {
            background-color: black;
            color: #FFFFFF;
        } 

        /* footer */

        src{
    display: flex;
    width: 80%;
    margin: auto;
   }
   /* #src>div{

   } */
   #flex9{
    display:flex;
    width:45%;
    /* border:1px solid red; */
    margin-left:70%;
  
   }
   #src-img{
    width: 45%;
    margin-left: 90px;
    margin-top: 90px;
    
   }
   #privacy{
  font-size: 13px;
  line-height:16px;
  margin-top: 25px;
  color:rgba(0, 0, 0, 0.54);
  /* border:1px solid red; */


  /* border: 1px solid red; */
   }
   #pri{
   font-size: 16px;
   line-height: normal;
   font-weight: 400;
    color: rgba(171, 168, 168, 0.87);
   
 }
 .i{
    width: 100%;
    border: 1px solid rgb(165, 164, 164);
 }
 .img-fix10{
    width:70%;
    margin-left: 70%;
    
 }
#flex7{
    display: flex;
    float:right;
    margin-right:30px;
}

@media all and (min-width:768px) and (max-width:1024px) {
    #h5{
        line-height: 20px;
        width:100%;
    }
    #about{
        line-height: 10px;
        font-size: 15px;
    }
}